*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}

a{
    text-decoration: none ;
    color: green;
}

#cab{
    display: flex;
    width: 80%;
    margin:2% auto;
    
}

#logo{
    display: flex;
    width: 50%;
}

#menu_cab{
    display: flex;
    width: 50%;
    align-items: center;
    background-color: aquamarine;
}
ul{
    display: flex;
    justify-content: end;
}

body{
    background-color: red;
}
