* {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
    margin-left: 2%;
}
h1{
    color: rgb(183, 255, 237);
}

a {
    text-decoration: none;
    color: rgb(183, 255, 237);
}

#cab {
    display: flex;
    width: 80%;
    margin: 2% auto;
}

#logo {
    display: flex;
    width: 50%;
}

#menu_cab {
    display: flex;
    width: 50%;
    align-items: center;
}
ul {
    display: flex;
    width: 100%;
    justify-content: end;
}

body {
    background-color: rgb(59, 59, 59);
}
/* entradas */

#entradas {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2% auto;
    align-items: center;
}

.entrada {
    display: flex;
    width: 50%;
    height: 400px;
    align-items: end;
    background: linear-gradient(to bottom right, rgb(59, 59, 59), rgb(183, 255, 237));

}