* {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
    margin-left: 2%;
}

a {
    text-decoration: none;
    color: green;
}

#cab {
    display: flex;
    width: 80%;
    margin: 2% auto;
}

#logo {
    display: flex;
    width: 50%;
}

#menu_cab {
    display: flex;
    width: 50%;
    align-items: center;
}
ul {
    display: flex;
    width: 100%;
    justify-content: end;
}

body {
    background-color: ghostwhite;
}
/* entradas */

#entradas {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2% auto;
    align-items: center;
}

.entrada {
    display: flex;
    width: 50%;
    height: 400px;
    align-items: end;

}